<!DOCTYPE html>
<html>
<head>
    <title>California Housing Price Prediction</title>
</head> 
<body>
    <div class="login">
        <h1>California Housing Price Prediction</h1>
        <form action="{{ url_for('predict') }}" method="post">
            <label for="longitude">Longitude</label><br>
            <input type="text" id="longitude" name="longitude" value="{{ form_data.longitude if form_data else '' }}" required="required"/><br><br>
            <label for="latitude">Latitude</label><br>
            <input type="text" id="latitude" name="latitude" value="{{ form_data.latitude if form_data else '' }}" required="required"/><br><br>
            <label for="housing_median_age">Housing Median Age</label><br>
            <input type="text" id="housing_median_age" name="housing_median_age" value="{{ form_data.housing_median_age if form_data else '' }}" required="required"/><br><br>
            <label for="total_rooms">Total Rooms</label><br>
            <input type="text" id="total_rooms" name="total_rooms" value="{{ form_data.total_rooms if form_data else '' }}"  required="required"/><br><br>
            <label for="total_bedrooms">Total Bedrooms</label><br>
            <input type="text" id="total_bedrooms" name="total_bedrooms" value="{{ form_data.total_bedrooms if form_data else '' }}"  required="required"/><br><br>
            <label for="population">Population</label><br>
            <input type="text" id="population" name="population" value="{{ form_data.population if form_data else '' }}" required="required"/><br><br>
            <label for="households">Households</label><br>
            <input type="text" id="households" name="households" value="{{ form_data.households if form_data else '' }}" required="required"/><br><br>
            <label for="median_income">Median Income (×10k $)</label><br>
            <input type="text" id="median_income" name="median_income" value="{{ form_data.median_income if form_data else '' }}" required="required"/><br><br>
            <!--<input type="text" name="ocean_proximity" placeholder="Ocean Proximity" required="required"/><br> -->
            <label for="ocean_proximity">Choose Ocean Proximity:</label><br/>
            <select id="ocean_proximity"  value="{{ form_data.ocean_proximity if form_data else '' }}"name="ocean_proximity">
                <option value="NEAR BAY">NEAR BAY</option>
                <option value="INLAND">INLAND</option>
                <option value="NEAR OCEAN">NEAR OCEAN</option>
                <option value="ISLAND">ISLAND</option>
                <option value="1H OCEAN">1H OCEAN</option>
            </select>
            <br><br>
           <button type='submit' class="btn btn-primary">Predict</button>
        </form>
    </div>
    {{ prediction_text }}
</body>
</html>